*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);   
    background-attachment: fixed;
    color: #fff;
    font-family: sans-serif;
  }

  .kanban{
    width: 90%;
    margin: 30px auto;
  }

.kanban__title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2%;
}